<div>
  <md-button class="md-primary md-raised" ng-click="back()" ng-if="showBack">
    <md-inline-list-icon class="fa fa-chevron-left"></md-inline-list-icon> Back
  </md-button>
  <md-content ng-controller="StreamsPurposeCtrl" class="stream-purpose" ng-if="streamPage">
    <form name="streamPurposeForm" ng-submit="updateStreamPurpose(streamPurposeForm.$valid)">
      <md-input-container ng-if="stream">
        <label>Stream Purpose</label>
        <input type="text" ng-model="stream.purpose">
      </md-input-container>
    </form>
  </md-content>
  
  <br>
  <br>
  <md-content class="post-writer" ng-show="!noPosting">
    <form name="postForm" ng-submit="create(postForm.$valid)" novalidate>
      <md-input-container>
        <label>What do you want to share?</label>
        <textarea ng-change="checkMentions(content, '#status')" name="content" ng-model="content" id="status" cols="30" rows="2" required md-maxlength="500" minlength="3"></textarea>
        <div ng-messages="postForm.content.$error" ng-show="postForm.$submitted">
          <div ng-message="required">Write your post first.</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short. Write more?</div>
        </div>
      </md-input-container>

      <md-button class="md-primary md-raised">
        Share
      </md-button>
      <md-button class="md-raised" ng-click="reset()" ng-if="postForm.$submitted && postForm.$invalid">
        Cancel
      </md-button>
    </form>
  </md-content>
  
  <!-- mentions search -->
  <div class="search-results mentions-results md-whiteframe-z1" ng-show="mentionsResults.length">
    <md-content>
      <md-list>
        <md-item ng-repeat="item in mentionsResults">
          <md-button ng-click="replaceName(item.username)">
            <md-item-content>
                <div class="md-tile-left">
                  <img ng-src="{{item.face || '/images/user.jpg'}}" class="face" alt="{{item.name}}">
                </div>
                <div class="md-tile-content">
                  <h3>{{item.name}}</h3>
                  <h4>@{{item.username}}</h4>
                  <h4>{{item.designation}}</h4>
                </div>
            </md-item-content>
          </md-button>
        </md-item>
      </md-list>
    </md-content>
  </div>

  <md-content class="primaryColors feedsFilter" ng-show="!noFiltering && lastUpdated">
    <div layout="column">
      <a class="filter" ng-click="feedsFilterEnabled = !feedsFilterEnabled" ><span class="fa fa-search"></span> Filter</a>
      <md-input-container ng-show="feedsFilterEnabled" class="no-margin">
        <label>Type keywords to filter...</label>
        <input type="search" ng-model="feedsFilter" minlength="2">
      </md-input-container>
    </div>
  </md-content>
  <md-content class="post-listing">
    <md-card ng-show="newFeedCount">
      <md-button ng-click="updateFeed()" class="md-primary md-raised">Load New Items ({{newFeedCount}})</md-button>
    </md-card>
    
    <p ng-if="!lastUpdated">Loading...</p>
    <md-item ng-repeat="item in feed">
      <div ng-if="!item._id" class="feed-spacer">
        Loaded more below
      </div>
      <md-item-content class="single-post" ng-if="item._id">
        <div class="md-tile-left">
          <img ng-src="{{item.creator.face || '/images/user.jpg'}}" class="face" alt="{{item.creator.name}}">
        </div>
        <div class="md-tile-content">
          <md-button class="md-accent" href="/profile/{{item.creator.username}}">{{::item.creator.name}}</md-button>
          <p class="primaryColors" ng-bind-html="item.content | appPostFormat"></p>
          <div class="post-actions">
            <span class="likes primaryColors">
              <a ng-if="!item.liked" class="like" ng-click="doLike(item)"><span class="fa fa-thumbs-o-up"></span> Like</a>
              <a ng-if="item.liked" class="unlike" ng-click="undoLike(item)"><span class="fa fa-thumbs-up"></span> Unlike</a>
              <a ng-if="item.likeCount" href="#"><span>({{item.likeCount}})</span></a>
            </span>
            <span>-</span>
            <span class="comments primaryColors">
              <a ng-if="!item.commentEnabled" ng-click="item.commentEnabled = true" href="#" class="comment"><span>Comment</span></a>
            </span>
            <span ng-if="!item.commentEnabled" >-</span>
            <span class="view primaryColors">
              <a href="/post/{{::item._id}}" class="view"><span>View</span></a>
            </span>
            
            <small hide-sm hide-md>{{::item.created | date:'medium'}}</small>

          </div>
          <small hide-gt-md>{{::item.created | date:'medium'}}</small>

          <!-- Comment -->
          <div layout="row" layout-wrap ng-if="item.commentEnabled">
            <form flex="50" flex-sm="100" flex-md="100" name="replyForm" ng-submit="comment(replyForm.$valid, item)" novalidate>
              <md-input-container>
                <label>Write your reply...</label>
                <textarea set-focus="item.commentEnabled" name="content" ng-model="content" id="status-{{item._id}}" cols="30" rows="2" required md-maxlength="500" minlength="3"></textarea>
                <!-- ng-change="checkMentions(content, '#status-' + item._id)" -->
                <div ng-messages="replyForm.content.$error" ng-show="replyForm.$submitted">
                  <div ng-message="required">Write your post first.</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                  <div ng-message="minlength">That's too short. Write more?</div>
                </div>
              </md-input-container>

              <md-button class="md-primary md-raised">
                Share
              </md-button>
              <md-button class="md-raised" ng-click="reset()" ng-if="postForm.$submitted && postForm.$invalid">
                Cancel
              </md-button>
            </form>
          </div>

          <!-- Comments -->
          <div>
            
            <md-item ng-repeat="comment in item.comments">
              <md-item-content class="single-post">
                <div class="md-tile-left">
                  <img ng-src="{{comment.creator.face || '/images/user.jpg'}}" class="face" alt="{{comment.creator.name}}">
                </div>
                <div class="md-tile-content">
                  <md-button class="md-accent" href="/profile/{{comment.creator.username}}">{{::comment.creator.name}}</md-button>
                  <p ng-bind-html="comment.content | appPostFormat"></p>
                  <small>{{::comment.created | date:'medium'}}</small>
                </div>
              </md-item-content>
            </md-item>
            <md-item ng-show="item.hasMoreComments" class="primaryColors">
              <md-button class="md-raised" href="/post/{{::item._id}}"><span>More Comments ({{::item.hasMoreComments}})</span></md-button>
            </md-item>
            

          </div>


        </div>

      </md-item-content>
    </md-item>
    
  </md-content>
  <md-card ng-hide="noMorePosts || !lastUpdated">
    <md-button class="md-raised md-primary" ng-click="loadMore()"><span>Load More</span></md-button>
  </md-card>
  <p ng-show="noMorePosts" class="breathing-space secondaryColors">-- end --</p>

</div>