<div ng-controller="PostsCtrl">
  <md-content class="post-writer" ng-show="!noPosting">
    <form name="postForm" ng-submit="create(postForm.$valid)" novalidate>
      <md-input-container>
        <label>What do you want to share?</label>
        <textarea name="content" ng-model="content" id="#status" cols="30" rows="3" required md-maxlength="500" minlength="3"></textarea>
        <div ng-messages="postForm.content.$error" ng-show="postForm.$submitted">
          <div ng-message="required">Write your post first.</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short. Write more?</div>
        </div>
      </md-input-container>

      <md-button class="md-primary md-raised">
        Share
      </md-button>
      <md-button class="md-raised" ng-click="reset()" ng-if="postForm.$submitted && postForm.$invalid">
        Cancel
      </md-button>
    </form>
  </md-content>
  
  <md-content class="post-listing">
    <md-card ng-show="newFeedCount">
      <md-button ng-click="updateFeed()" class="md-primary md-raised">Load New Items ({{newFeedCount}})</md-button>
    </md-card>
    <md-item ng-repeat="item in feed">
      <md-item-content class="single-post">
        <div class="md-tile-left">
          <img ng-src="{{item.creator.face || '/images/user.jpg'}}" class="face" alt="{{item.creator.name}}">
        </div>
        <div class="md-tile-content">
          <md-button class="md-accent" href="/profile/{{item.creator._id}}">{{::item.creator.name}}</md-button>
          <p>{{::item.content}}</p>
          <div class="post-actions">
            <span class="likes primaryColors">
              <a ng-if="!item.liked" class="like" ng-click="doLike(item)"><span class="fa fa-thumbs-o-up"></span> Like</a>
              <a ng-if="item.liked" class="unlike" ng-click="undoLike(item)"><span class="fa fa-thumbs-up"></span> Unlike</a>
              <a ng-if="item.likeCount" href="#"><span>({{item.likeCount}})</span></a>
            </span>
            <span>-</span>
            <span class="comments primaryColors">
              <a ng-if="!item.commentEnabled" ng-click="item.commentEnabled = true" href="#" class="comment"><span>Comment</span></a>
            </span>
            <span>-</span>
            <span class="view primaryColors">
              <a href="/post/{{::item._id}}" class="view"><span>View</span></a>
            </span>
            <small hide-sm hide-md>{{::item.created | date:'medium'}}</small>

          </div>
          <small hide-lg>{{::item.created | date:'medium'}}</small>
          
          <!-- Comment -->
          <div layout="row" layout-wrap ng-if="item.commentEnabled">
            <form flex="50" flex-sm="100" flex-md="100" name="replyForm" ng-submit="comment(replyForm.$valid, item)" novalidate>
              <md-input-container>
                <label>Write your reply...</label>
                <textarea name="content" ng-model="content" id="#status" cols="30" rows="2" required md-maxlength="500" minlength="3"></textarea>
                <div ng-messages="replyForm.content.$error" ng-show="replyForm.$submitted">
                  <div ng-message="required">Write your post first.</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                  <div ng-message="minlength">That's too short. Write more?</div>
                </div>
              </md-input-container>

              <md-button class="md-primary md-raised">
                Share
              </md-button>
              <md-button class="md-raised" ng-click="reset()" ng-if="postForm.$submitted && postForm.$invalid">
                Cancel
              </md-button>
            </form>
          </div>

          <!-- Comments -->
          <div>
            <md-item ng-repeat="comment in item.comments">
              <md-item-content class="single-post">
                <div class="md-tile-left">
                  <img ng-src="{{comment.creator.face || '/images/user.jpg'}}" class="face" alt="{{comment.creator.name}}">
                </div>
                <div class="md-tile-content">
                  <md-button class="md-accent" href="/profile/{{comment.creator._id}}">{{::comment.creator.name}}</md-button>
                  <p>{{::comment.content}}</p>
                  <!-- <span class="likes primaryColors">
                    <a ng-if="!item.liked" class="like" ng-click="doLike(item)"><span class="fa fa-thumbs-o-up"></span> Like</a>
                    <a ng-if="item.liked" class="unlike" ng-click="undoLike(item)"><span class="fa fa-thumbs-up"></span> Unlike</a>
                    <a ng-if="item.likeCount" href="#"><span>({{item.likeCount}})</span></a>
                  </span> -->
                  <!-- <span>-</span>
                  <span class="comments primaryColors">
                    <a href="#" class="comment"><span>Comment</span></a>
                  </span> -->
                  <small>{{::comment.created | date:'medium'}}</small>
                </div>
              </md-item-content>
            </md-item>

          </div>


        </div>

      </md-item-content>
    </md-item>
  </md-content>

</div>