      <md-item-content class="single-post root-post" ng-if="item._id">
        <div layout="row">
          <a href="/profile/{{item.creator.username}}"><img ng-src="{{item.creator.face || '/images/user.jpg'}}" class="face" alt="{{item.creator.name}}"></a>
          <div class="aw-item-content" flex>
            <md-button class="md-accent md-old-style aw-person-name" href="/profile/{{item.creator.username}}">{{::item.creator.name}}</md-button>
            <p class="primaryColors aw-post-content" ng-bind-html="item.content | appPostFormat"></p>
            <div class="post-actions">
              <span class="likes primaryColors">
                <a ng-if="!item.liked" class="like" ng-click="doLike(item)"><span class="fa fa-thumbs-o-up"></span> Like</a>
                <a ng-if="item.liked" class="unlike" ng-click="undoLike(item)"><span class="fa fa-check"></span> Liked</a>
                <a ng-if="item.likeCount" ng-click="showLikers($event, item)"><span class="like-count">({{item.likeCount}})</span></a>
              </span>
              <span>-</span>
              <span class="comments primaryColors">
                <a ng-if="!item.commentEnabled" ng-click="item.commentEnabled = true" href="#" class="comment"><span>Comment</span></a>
              </span>
              <span ng-if="!item.commentEnabled" >-</span>
              <span class="view primaryColors">
                <a href="/post/{{::item._id}}" class="view"><span>View</span></a>
              </span>
              <span ng-if="item.stream" >-</span>
              <span ng-if="item.stream" class="primaryColors">
                <a href="/stream/{{::item.stream._id}}" class="stream"><span>$ {{item.stream.title}}</span></a>
              </span>
              
              <small hide-sm hide-md>{{::item.created | date:'medium'}}</small>

            </div>
            <small hide-gt-md>{{::item.created | date:'medium'}}</small>

            <!-- Comment -->
            <div layout="row" ng-if="item.commentEnabled">
              <form flex="50" flex-sm="100" flex-md="100" name="replyForm" ng-submit="comment(replyForm.$valid, item)" novalidate>
                <md-input-container>
                  <label>Write your reply...</label>
                  <textarea set-focus="item.commentEnabled" name="content" ng-model="content" id="status-{{item._id}}" cols="30" rows="2" required md-maxlength="500" minlength="3"></textarea>
                  <!-- ng-change="checkMentions(content, '#status-' + item._id)" -->
                  <div ng-messages="replyForm.content.$error" ng-show="replyForm.$submitted">
                    <div ng-message="required">Write your post first.</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short. Write more?</div>
                  </div>
                </md-input-container>

                <md-button class="md-primary md-raised">
                  Share
                </md-button>
                <md-button class="md-raised" ng-click="reset()" ng-if="postForm.$submitted && postForm.$invalid">
                  Cancel
                </md-button>
              </form>
            </div>

            <div class="aw-comments">
              <!-- Comments -->
              <md-item-content class="single-post" layout="row" ng-repeat="comment in item.comments">
                <a href="/profile/{{comment.creator.username}}"><img ng-src="{{comment.creator.face || '/images/user.jpg'}}" class="face" alt="{{comment.creator.name}}"></a>
                <div class="aw-item-content" flex>
                  <md-button class="md-accent md-old-style aw-person-name" href="/profile/{{comment.creator.username}}">{{::comment.creator.name}}</md-button>
                  <p class="aw-post-content" ng-bind-html="comment.content | appPostFormat"></p>
                  <small>{{::comment.created | date:'medium'}}</small>
                </div>
              </md-item-content>
              <md-item ng-show="item.hasMoreComments" class="primaryColors">
                <md-button class="md-raised" href="/post/{{::item._id}}"><span>More Comments ({{::item.hasMoreComments}})</span></md-button>
              </md-item>
            </div>

            

          </div>
        </div>
        

      </md-item-content>