<div ng-controller="StreamsCtrl">
    <h2>
        Streams
    </h2>
    <md-divider></md-divider>
    <ul class="unstyled" ng-if="lastUpdated">
        <li ng-repeat="stream in streams" layout="row">
            <md-button flex class="btn left-text no-case md-old-style no-bold md-primary" href="/stream/{{stream._id}}" ng-click="clearBadge(stream)">
                $ {{ stream.title }} <span class="badge" ng-if="stream.unread">{{ stream.unread }}</span>
            </md-button>
            <div class="pull-right">
                <md-button class="btn no-case md-old-style no-bold md-primary" ng-click="unsubscribe(stream)" title="Unsubscribe">
                    <md-inline-list-icon class="fa fa-sign-out"></md-inline-list-icon>
                </md-button>
            </div>
        </li>
        <li>
            <form name="newStreamForm" ng-submit="create(newStreamForm.$valid)" novalidate>
                <md-input-container ng-show="actions.createNew">
                    <label>+ New Stream</label>
                    <input type="text" name="newStreamName" ng-model="newStreamName" required set-focus="actions.createNew">
                    <div ng-messages="newStreamForm.newStreamName.$error" ng-show="newStreamForm.newStreamName.$dirty">
                      <div ng-message="md-maxlength">That's too long!</div>
                      <div ng-message="minlength">That's too short!</div>
                    </div>
                </md-input-container>
            </form>
            <md-button class="no-case no-bold md-primary" ng-hide="actions.createNew" ng-click="createNew()">
                + Create New
            </md-button>
            <br>
            <div>
              <md-select ng-show="moreStreams.length" placeholder="Subscribe to Streams" name="toSubscribe" ng-model="toSubscribe" class="slight-padding" ng-change="processMoreStreams(toSubscribe)" layout="column">
                <md-option value="{{::stream._id}}" ng-repeat="stream in moreStreams">{{::stream.title}}</md-option>
                <!-- <md-option value="1">+ Create New</md-option> -->
              </md-select>
            </div>
        </li>
    </ul>
    <div class="left-padd mute" ng-if="!lastUpdated"><p>Loading...</p></div>
</div>