  <md-content>
    <md-list>
      <md-item ng-repeat="item in searchResults">
        <md-button href="/profile/{{item._id}}" ng-click="clearSearch()">
          <md-item-content>
              <div class="md-tile-left">
                <img ng-src="{{item.face || '/images/user.jpg'}}" class="face" alt="{{item.name}}">
              </div>
              <div class="md-tile-content">
                <h3>{{item.name}}</h3>
                <h4>{{item.designation}}</h4>
              </div>
          </md-item-content>
        </md-button>
      </md-item>
    </md-list>
  </md-content>