  <md-content class="md-padding">
    <md-list>
      <md-item ng-repeat="item in searchResults">
        <md-item-content>
          <div class="md-tile-left">
              <img ng-src="{{item.face}}" class="face" alt="{{item.name}}">
          </div>
          <div class="md-tile-content">
            <h3>{{item.name}}</h3>
            <h4>{{item.email}}</h4>
            <!-- <p>
              {{item.notes}}
            </p> -->
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>