  <md-card flex-sm="95" flex-gt-sm="90" flex-gt-md="80">
    <md-card-content ng-if="!profile">
      <p>Please wait...</p>
    </md-card-content>
    <md-card-content ng-show="profile">
      <h2>New Password</h2>
      <form name="changePwdForm" ng-submit="updateProfile(changePwdForm.$valid)" novalidate>
      	<md-input-container>
      	  <label>Password</label>
      	  <input name="password" ng-model="password" type="password" required md-maxlength="100" minlength="8">
      	  <div ng-messages="changePwdForm.password.$error" ng-show="changePwdForm.bio.$dirty">
      	    <div ng-message="required">This is required!</div>
      	    <div ng-message="md-maxlength">That's too long!</div>
      	    <div ng-message="minlength">That's too short!</div>
      	  </div>
      	</md-input-container>

      	<md-input-container>
      	  <label>Confirm Password</label>
      	  <input name="password2" ng-model="password2" type="password" required md-maxlength="100" minlength="8">
      	  <div ng-messages="changePwdForm.password2.$error" ng-show="changePwdForm.bio.$dirty">
      	    <div ng-message="required">This is required!</div>
      	    <div ng-message="md-maxlength">That's too long!</div>
      	    <div ng-message="minlength">That's too short!</div>
      	  </div>
      	</md-input-container>
      	<md-button class="md-primary md-raised">
      	  Change
      	</md-button>
      </form>
    </md-card-content>
  </md-card>
