<div class="user-profile">
  <md-card class="user-profile-info">
    <md-card-content>
      <md-item>
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="{{item.face || '/images/user.jpg'}}" class="face" alt="{{item.name}}">
          </div>
          <div class="md-tile-content">
            <h2>{{profile.name}}</h2>
            <h3>{{profile.designation}}</h3>
            <h4>{{profile.email}}</h4>
          </div>
          <div class="md-tile-right">
            <md-button class="md-primary md-raised" ng-click="follow()" ng-if="!selfProfile && alreadyFollowing===false">
              <md-inline-list-icon class="fa fa-plus"></md-inline-list-icon>
              <span>Follow</span>
            </md-button><br>
            <md-button class="" ng-click="unfollow()" ng-if="!selfProfile && alreadyFollowing===true">
              <md-inline-list-icon class="fa fa-minus-circle"></md-inline-list-icon>
              <span>Unfollow</span>
            </md-button>
          </div>
        </md-item-content>
      </md-item>
    </md-card-content>
  </md-card>
  <md-card class="user-profile-details">
    <md-tabs class="md-accent">
      <md-tab label="Timeline">
        <md-content class="md-padding">
          <p>No data here</p>
        </md-content>
      </md-tab>
      <md-tab label="Followers">
        <md-content class="md-padding">
          
          <md-list>
            <md-item ng-repeat="item in followers" class="user-profile-following">
              <md-button href="/profile/{{item._id}}">
                <md-item-content>
                    <div class="md-tile-left">
                      <img ng-src="{{item.face || '/images/user.jpg'}}" class="face" alt="{{item.name}}">
                    </div>
                    <div class="md-tile-content">
                      <h3>{{item.name}}</h3>
                      <h4>{{item.designation}}</h4>
                    </div>
                </md-item-content>
              </md-button>
            </md-item>
          </md-list>
          <p ng-if="!followers.length">No followers yet.</p>

        </md-content>
      </md-tab>
      <md-tab label="Following">
        <md-content class="md-padding">
          
          <md-list>
            <md-item ng-repeat="item in following" class="user-profile-following">
              <md-button href="/profile/{{item._id}}">
                <md-item-content>
                    <div class="md-tile-left">
                      <img ng-src="{{item.face || '/images/user.jpg'}}" class="face" alt="{{item.name}}">
                    </div>
                    <div class="md-tile-content">
                      <h3>{{item.name}}</h3>
                      <h4>{{item.designation}}</h4>
                    </div>
                </md-item-content>
              </md-button>
            </md-item>
          </md-list>
          <p ng-if="!following.length">Not following anyone yet.</p>

        </md-content>
      </md-tab>
    </md-tabs
  </md-card>
</div>