$primaryColor: #367890;
$linkHoverColor: #333;
$secondaryColor: #B0BEC5;
$gray: #eee;
$darkgray: #bbb;
$white: #fff;
$green: #95D055;
$weirdRandomColor: #77AAB3;
$badgeRed: #CB5757;

html, body {
  font-size: 14px;
  color: #444;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
  cursor: pointer;
  &.btn.md-button {
    display: inline-block;
  }
}
.primaryColor {
  color: $primaryColor;
}
.primaryColors {
  a {
    &[ng-click] {
      cursor: pointer;
    }
    color: $primaryColor;
    &:hover {
      color: $linkHoverColor;
    }
  }
}
.fa.yellow {
  color: darkorange;
  font-size: 19px;
}
.secondaryColors {
  color: $secondaryColor;
}

/** ====== Sidenav Related BEGIN ====== */
.site-sidenav {
  .sidebar-list {
    padding-top: 5px;
  }
  md-toolbar h1 {
    font-size: 100%;
    font-weight: 400;
    margin: auto;
    text-align: center;
  }
  h2 {
    font-size: 17px;
  }
}
.menuBtn {
  background-color: transparent;
  border: none;
  height: 32px;
  margin: 16px 0;
  width: 36px;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}

.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open {
  width: 254px;
  min-width: 254px;
  max-width: 254px;
}

/* Using Data-URI converted from svg until <md-icon> becomes available */
.menuBtn {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}

/** ====== Sidenav Related END ====== */

/** ====== General typo BEGIN ====== */
.left-padd {
  padding-left: 15px;
}
.unspaced-headings {
  h1, h2, h3, h4, p {
    margin-bottom: 0;
    margin-top: 0;
  }
}
.aw-full-area {
  margin: -16px;
}
md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: $white;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-content.white {
  background-color: $white;
}
md-toolbar {
  .md-button.md-default-theme {
  }
}
.left-text {
  text-align: left;
}
.md-old-style.md-button {
  font-size: inherit;
  height: 30px;
  min-height: 30px;
  min-width: 0px;
  line-height: 30px;
  width: auto;
  white-space: normal;
}

h2 {
  font-weight: 400;
}
p {
  line-height: 1.846;
  margin: 0 0 3px;

}
.breathing-space {
  margin: 20px 0;
}
.badge {
  background: $badgeRed;
  padding: 2px 6px;
  color: $white;
  border-radius: 20px;
  font-size: 12px;
  margin: 0 2px;

  &.menu-badge {
    position: absolute;
    top: 12px;
  }
}
.color-bg {
  background-color: $weirdRandomColor;
  color: $white;
  input {
    color: $white !important;
  }
  label {
    color: $white !important;
  }
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
md-list-item, md-list-item.md-no-proxy {
  padding: 0;
}
ul.unstyled {
  padding: 0;
  list-style: none;
}
.md-button {
  &.no-case {
    text-transform: none;
  }
  &.no-bold {
    font-weight: normal;
  }
}
.no-margin {
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-true-margin {
  margin: 0;
}
.no-margin-all {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.circular-image {
  border-radius: 99%;
  width: 48px;
  height: 48px;
  margin: 16px;
  background-size: cover;
}
.small {
  width: 24px;
  height: 24px;
}
.mute {
  opacity: 0.4;
}
.tiny {
  font-size: 80%;
  &.fa {
    font-size: 70%;
  }
}
.clickable {
  cursor: pointer;
}
.slight-padding {
  padding: 0 8px;
  margin: 0;
}
/** ====== General typo END ====== */

/** ====== Users BEGIN ====== */
.notification-count {
  span {
    font-size: 12px;
    background: $badgeRed;
    padding: 3px 5px;
    margin-left: -13px;
    border-radius: 99%;
  }
}
.notifications {
  background-color: $white;
  position: absolute;
  z-index: 2;
  margin-top: 0;
  top: 64px;
  right: 0;
  @extend .user-listing;
  .face {
    @extend .small;
    margin: 4px 10px;
  }
  .item {
    button, a {
      padding: 16px 8px;
      margin: 0;
      p {
        max-width: 240px !important;
        font-size: 14px !important;
      }
      p, span {
        display: block;
        color: #444;
        white-space: normal;
        font-size: 100% !important;
        line-height: normal;
      }
    }
  }
  .title-item {
    text-align: center;
  }
}
.user-listing {
  .md-button {
    display: block;
    text-transform: none;
  }
  .face {
    @extend .circular-image;
  }
}
.chat-dialog {
  form {
    padding: 20px;
    md-input-container {
      padding-bottom: 0;
    }
  }
  .chat-listing {
    padding: 0px;
    
    md-list-item {
      padding: 5px 25px;
    }

    .face {
      @extend .circular-image;
      @extend .small;
      margin: 0;
      margin-right: 8px;
    }
    p.name {
      margin: 0;
      font-size: 80%;
      line-height: 5px;
      color: $primaryColor;
    }
    p.message {
      margin-top: 4px;
      line-height: 1.446;
    }
  }
}
.stream-purpose {
  /*background: #f7f7f7;*/
  padding: 8px;
  margin-top: 0;
  md-input-container {
    margin-bottom: 0;
    padding-bottom: 0;
    input {
      text-align: right;
      width: 100%;
      border: none;
      @extend .mute;
      font-style: italic;
    }
  }
}
.search-results {
  position: absolute;
  z-index: 1;
  margin-top: -26px;
  /*width: 234px;*/
  @extend .user-listing;
}
.mentions-results {
  position: absolute;
  margin-top: 0px;
}
.button-listing {
  .md-button {
    h3 {
      line-height: 16px;
      font-size: 14px;
      margin-top: 13px;
      text-transform: uppercase;
    }
    p {
      line-height: 14px;
      font-size: 12px;
      margin-top: 5px;
      color: $secondaryColor;
    }
  }
}
.post-writer {
  margin-bottom: 20px;
}
.post-listing {
  font-weight: normal;
  .face {
    background-color: #eee;
    background-size: cover;
    @extend .circular-image;
    width: 64px;
    height: 64px;
    margin-left: 0;
  }
  .post-actions {
    padding: 0 6px;
  }
  .single-post {
    align-items: initial;
    -webkit-align-items: initial;
    
    &.root-post {
      margin-bottom: 10px;
    }
    .aw-person-name {
      margin: 0;
    }
    .aw-post-content {
      padding-top: 0;
    }
    .aw-item-content {
      margin: 9px 0;
    }
    p {
      margin: 0 0 3px;
    }
    .aw-comments {
      margin-top: 10px;
      .face {
        @extend .small;
        margin-right: 8px;
      }
    }
  }
  p {
    padding: 6px;
    font-size: 100%;
  }
  small {
    padding: 6px;
    @extend .mute;
  }
  .feed-spacer {
    background: #eee;
    padding: 4px;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    margin: 15px 0;
  }
}
.activities-listing {
  p {
    margin: 5px 0;
  }
  strong {
    text-transform: uppercase;
  }
}
.user-profile {
  .user-profile-info {
    padding: 30px;
    .profile-buttons {
      margin-top: 10px;
    }
    .face {
      @extend .circular-image;
      width: 128px;
      height: 128px;
    }
    .user-details {
      margin-top: 14px;
    }
    .status {
      color: $darkgray;
      &.online {
        color: $green;
      }
    }
  }
  .user-profile-details {
    margin-top: -9px;
    md-tabs-wrapper {
      margin-left: 8px;
      margin-right: 8px;
    }
    .no-margin-top {
      margin-top: 0;
    }
    .customized-tab {
      padding: 8px;
      margin-top: -8px;
      md-card {
        margin: 0;
      }
    }
    .user-profile-following {
      @extend .user-listing;
    }
  }
}
.user-profile-btn {
  img {
    background-position: middle center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
}
/** ====== Users END ====== */

/** ====== Misc BEGIN ====== */
#loading-bar-spinner {
  top: 24px !important;
  left: 24px !important;
  @media (max-width: 768px) {
    left: 128px !important;
  }
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #fff !important;
  border-left-color: #fff !important;
  opacity: 0.5;
}
#loading-bar .bar {
  background-color: #2c3e50 !important;
  height: 5px !important;
  bottom: 0 !important;
  top: auto !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 1000;
  .preloader-content {
    margin-top: 200px;
    font-size: 20px;
    text-align: center;
    color: #999;
    h1, p {
      margin: 0;
      padding: 0;
    }
  }
}

/** ====== Misc END ====== */



/** All view animations */
.main-view {
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
}
.main-view.ng-enter {
  -webkit-transform:translate3d(0, 1%, 0);
  -moz-transform:translate3d(0, 1%, 0);
  -ms-transform:translate3d(0, 1%, 0);
  transform:translate3d(0, 1%, 0);
  opacity: 0;
}
.main-view.ng-leave {
}

/** ================== THEMING ===================== */
.md-padding {
  padding: 24px;
}
md-toolbar.md-default-theme {
  background-color: #494749;
}
md-dialog {
  md-dialog-content {
    padding: 0;
  }
  .md-subheader.md-default-theme {
    background: #eee;
    margin: 0;
    text-transform: uppercase;
  }
}
